<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Ecoarium </title>
    <link rel="stylesheet" href="public/inventory.css">
</head>
<body>
    <div class="header">
        <div class = "layout">
            <a id= "logo" href="/">Ecoarium</a>
            <a id = "text"> - 마이페이지</a>
            <a id= "mypage" href="/mypage">마이페이지</a>
            <div id = "line"></div>
            <a id= "store" href="/store">스토어</a>
        </div>
    </div>
    <div class="main">
        
    </div>
    <script>
    </script>
</body>
</html>